<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>URL Safety Checker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  </head>
  <body>
    <div class="container">
      <h2>URL Safety Checker</h2>
      <p class="author">Built by <span>Balajiakula</span></p>

      <form method="POST">
        <input type="text" name="url" placeholder="Enter URL" required />
        <button type="submit">Check</button>
      </form>

      {% if status %}
      <h3 class="status {{ status|lower }}">Status: {{ status }}</h3>
      <ul>
        {% for r in reasons %}
        <li>{{ r }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </body>
</html>
